In [19]:
import pandas as pd
rain_df=pd.read_csv("../data/processed/ward_rainfall_features.csv")
water_df=pd.read_csv("../data/processed/waterlogging_points.csv")
print(rain_df.head())
print(water_df.head())

  ward  avg_rainfall  max_rainfall
0    A      8.415042     165.25291
1    B      8.415042     165.25291
2    C      8.415042     165.25291
3    D      8.415042     165.25291
4    E      8.415042     165.25291
           X          Y  fid ward  Severity
0  72.811780  18.912768    1    A         1
1  72.805207  18.909786    2    A         0
2  72.806112  18.911214    3    A         0
3  72.808057  18.913657    4    A         1
4  72.811780  18.912737    5    A         1

In [21]:
water_agg = water_df.groupby("ward").agg(
    waterlogging_count=("Severity", "count"),
    avg_severity=("Severity", "mean"),
    max_severity=("Severity", "max")
).reset_index()

water_agg.head(10)

  ward  waterlogging_count  avg_severity  max_severity
0    A                  11      0.818182             2
1    B                   7      1.000000             1
2    C                   3      1.333333             2
3    D                   6      1.000000             2
4    E                   4      1.750000             2
5  F/N                  15      1.666667             2
6  F/S                   7      1.142857             2
7  G/N                   6      1.166667             2
8  G/S                   7      1.285714             2
9  H/E                   9      1.222222             2

In [22]:
merged_df = rain_df.merge(
    water_agg,
    on="ward",
    how="left"
)

In [23]:
merged_df["waterlogging_count"] = merged_df["waterlogging_count"].fillna(0)
merged_df["avg_severity"] = merged_df["avg_severity"].fillna(0)
merged_df["max_severity"] = merged_df["max_severity"].fillna(0)

In [24]:
merged_df.info()
merged_df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ward                24 non-null     object
 1   avg_rainfall        24 non-null     float64
 2   max_rainfall        24 non-null     float64
 3   waterlogging_count  24 non-null     int64
 4   avg_severity        24 non-null     float64
 5   max_severity        24 non-null     int64
dtypes: float64(3), int64(2), object(1)
memory usage: 1.3+ KB

,ward,avg_rainfall,max_rainfall,waterlogging_count,avg_severity,max_severity
0,A,8.415042,165.25291,11,0.818182,2
1,B,8.415042,165.25291,7,1.000000,1
2,C,8.415042,165.25291,3,1.333333,2
3,D,8.415042,165.25291,6,1.000000,2
4,E,8.415042,165.25291,4,1.750000,2
5,F/N,8.415042,165.25291,15,1.666667,2
6,F/S,8.415042,165.25291,7,1.142857,2
7,G/N,8.415042,165.25291,6,1.166667,2
8,G/S,8.415042,165.25291,7,1.285714,2
9,H/E,8.415042,165.25291,9,1.222222,2

In [26]:
merged_df.to_csv(
    "../data/processed/ward_flood_features1.csv",
    index=False
)